registry=https://registry.npmjs.org/

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 12/18/2019.
; begin auth token
//registry.npmjs.org/:_authToken=a7e7acfb-a2f7-4580-8377-7cb35f020e6f
; end auth token